$darkest-gray: #333333;
$dark-gray: #666666;
$light-gray: rgb(247, 247, 247);
$border-gray: rgb(232, 232, 232);
$type-gray: rgb(90, 90, 90);
$steel-blue: #68a1c5;
$gh-green: #48dbb8;
$gh-blue: #33adad;

$twitter-blue: #1dcaff;
$facebook-blue: #3B5998;
$linkedin-blue: #0077b5;
